1b Fundamentals of Data Structures and Algorithms

Assignment 7, Databases

In [250]:
import sqlite3

# create a SQL connection to our SQLite database
con = sqlite3.connect("Cookie.sqlite")
cur = con.cursor()

In [251]:
# check table names to validate README list

# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(cursor.fetchall())

1) What Publisher is located in GARDEN CITY? 
- Answer: DOUBLEDAY AND COMPANY INC.

In [252]:
sql_command_1 = "SELECT publisher FROM pub WHERE pcity = 'GARDEN CITY'"

cur.execute(sql_command_1)
cur.fetchall()

[('DOUBLEDAY AND COMPANY INC.',)]

2) How many books in the catalogue come from publishers in NEW YORK?
- Answer: [(43,)]

In [253]:
sql_command_2 = 'SELECT COUNT(*) FROM bib WHERE loc LIKE "%NEW YORK%"'
cur.execute(sql_command_2)
cur.fetchall()

[(43,)]

3) Find the average price of a book in the SOCIAL CHANGE subject category. 
- Answer: [(8.625,)]

In [254]:
# first, join indx and sub tables on 'subcode' column
# then, combine subsequent table to bib on 'accno' column

sql_command_3 = "SELECT AVG(price) FROM (WITH small_join AS (SELECT * FROM indx JOIN sub ON indx.subcode = sub.subcode) SELECT * FROM small_join JOIN bib ON small_join.accno = bib.accno) WHERE subject = 'SOCIAL CHANGE'" 
cur.execute(sql_command_3)
indx_sub_bib_3 = cur.fetchall()
indx_sub_bib_3

[(8.625,)]

4) How many books from SAN FRANCISCO publishers are about UNIVERSITIES AND COLLEGES? 
- Answer: [(2,)]

In [255]:
# first, join indx and sub tables on 'subcode' column
# then, combine subsequent table to bib on 'accno' column

sql_command_4 = "SELECT COUNT(*) FROM (WITH small_join AS (SELECT * FROM indx JOIN sub ON indx.subcode = sub.subcode) SELECT * FROM small_join JOIN bib ON small_join.accno = bib.accno) WHERE subject = 'UNIVERSITIES AND COLLEGES' AND loc LIKE '%San Francisco%';" 
cur.execute(sql_command_4)
indx_sub_bib_4 = cur.fetchall()
indx_sub_bib_4

[(2,)]

5) Books in which subject category have the highest price? 
- Answer: [('EDUCATION - PHILOSOPHY',), ('COMMUNICATION - ECONOMIC ASPECTS',),('COMMUNICATION POLICY - US',)]

In [256]:
sql_command_5 = "SELECT subject FROM (WITH small_join AS (SELECT * FROM indx JOIN sub ON indx.subcode = sub.subcode) SELECT * FROM small_join JOIN bib ON small_join.accno = bib.accno) WHERE price = (SELECT MAX(price) FROM bib)" 
cur.execute(sql_command_5)
indx_sub_bib_5 = cur.fetchall()
indx_sub_bib_5

[('EDUCATION - PHILOSOPHY',),
 ('COMMUNICATION - ECONOMIC ASPECTS',),
 ('COMMUNICATION POLICY - US',)]

6) Among books costing 15 US$ or more, which publisher ranks highest in terms of average book HEIGHT? 
- Answer: PLACE HERE

In [257]:
# from data discovery, we know that bib.loc is a combination of cities with or without their respective states while pub.pcity are cities exclusively

# sql = 'SELECT loc FROM bib'
# cur.execute(sql)
# cur.fetchall()

# sql_2 = 'SELECT pcity FROM pub'
# cur.execute(sql_2)
# cur.fetchall()

In [258]:
# our next steps is to clean the bib.loc and pub.pcity columns so we can join them in a new table

# remove extraneous values from bib.loc list

bib_loc = 'SELECT loc FROM bib'
cur.execute(bib_loc)
bib_list = cur.fetchall()
bib_list

clean_col_bib = []
for item in bib_list:
    item = str(item)
    item = item.split(',')
    clean_item = item[0].replace('(','').replace('\'', '').strip()
    clean_col_bib.append(clean_item)
clean_col_bib
    
# remove extraneous values from pub_city list

# pub_city = 'SELECT pcity FROM pub'
# cur.execute(pub_city)
# pub_city_list = cur.fetchall()
# pub_city_list

# clean_col_pub = []
# for item in pub_city_list:
#     item = str(item)
#     clean_item = item.replace('(','').replace('\'', '').replace(',', '').replace(')', '').strip()
#     clean_col_pub.append(clean_item)
# # clean_col_pub

['CHICAGO',
 'PARIS',
 'BOULDER',
 'SAN FRANCISCO',
 'GARDEN CITY',
 'NEW YORK',
 'NEW YORK',
 'NEW YORK',
 'SAN FRANCISCO',
 'BOSTON',
 'WASHINGTON',
 'NEW YORK',
 'NEW YORK',
 'TORONTO',
 'NEW YORK',
 'CAMBRIDGE',
 'CHICHESTER',
 'CAMBRIDGE',
 'ELMSFORD',
 'LINCOLN',
 'MONTCLAIR',
 'OLD WESTBURY',
 'NEW YORK',
 'NEW ROCHELLE',
 'NEW YORK',
 'NEW YORK',
 'READING',
 'SAN MATEO',
 'SAN MATEO',
 'BETHLEHEM',
 'SAN FRANCISCO',
 'ILLINOIS',
 'NEW YORK',
 'WASHINGTON',
 'CHICAGO',
 'CAMBRIDGE',
 'NEW YORK',
 'BERKELEY',
 'NEW YORK',
 'BOSTON',
 'PRINCETON',
 'NEW YORK',
 'NEW YORK',
 'BERKELEY',
 'NEW YORK',
 'NEW YORK',
 'NEW YORK',
 'S.L.',
 'NEW YORK',
 'NEW YORK',
 'BOSTON',
 'SANTA MONICA',
 'CAMBRIDGE',
 'NEW YORK',
 'NEW YORK',
 'ROCHESTER',
 'NEW YORK',
 'CHICAGO',
 'NEW YORK',
 'SPRINGFIELD',
 'SANTA MONICA',
 'GARDEN CITY',
 'NEW YORK',
 'NEW YORK',
 'NEW YORK',
 'BERKELEY',
 'NEW YORK',
 'LONDON & BALTIMORE',
 'NEW YORK',
 'NEW YORK',
 'MARYKNOLL',
 'NEW YORK',
 'NEW YORK',
 'SAN FRANCISCO',
 'NEW YORK',
 'GREENWICH',
 'BROOKLYN',
 'BOSTON',
 'MADISON',
 'NEW YORK',
 'WASHINGTON',
 'WASHINGTON',
 'PARIS',
 'NEW YORK',
 'LINCOLN',
 'NEW ROCHELLE',
 'WASHINGTON',
 'CAMBRIDGE',
 'NEW YORK',
 'GARDEN CITY',
 'LITTLETON',
 'NEW YORK',
 'ENGLEWOOD CLIFFS',
 'NEW YORK',
 'BERKELEY',
 'ENGLEWOOD',
 'CAMBRIDGE',
 'NEW YORK',
 'STANFORD',
 'STANFORD',
 'STANFORD',
 'NEW YORK',
 'AUSTIN',
 'NEW YORK',
 'BERKELEY',
 'BERKELEY',
 'S.L.',
 'BERKELEY',
 'BERKELEY',
 'BERKELEY',
 'BERKELEY',
 'S.L.',
 'BOSTON',
 'CHICAGO',
 'BERKELEY',
 'OLYMPIA',
 'OLYMPIA',
 'NEW YORK',
 'NEWBURY PARK',
 'BOSTON',
 'NEW YORK',
 'NEW YORK']

In [259]:
# next, we want to reinsert bib_loc and pub_city lists in respective tables

# Add a new column to bib table

addColumn_bib = "ALTER TABLE bib ADD COLUMN bib_loc_clean text"
cur.execute(addColumn_bib)
cur.fetchall()
# cur.executemany("INSERT INTO bib (bib_loc_clean) VALUES (?)",
#                 zip(clean_col_bib))
# con.commit()
# cur.execute(insert_bib)
# bib_list_clean = cur.fetchall()

# INSERT INTO mytable (myfirstcolumn) VALUES 
#         ('A'),('B'),('C'),('D'),
#         ('A'),('B'),('C'),('D'),('E'),('F');

OperationalError: database is locked

In [ ]:
# first, join indx and sub tables on 'subcode' column
# then, combine subsequent table to bib on 'accno' column
# finally, combin subsequent table to pub on 'loc' and 'pcity' columns

In [ ]:
# # combine bib and pub tables 
# sql_command_6a = 'SELECT * FROM bib JOIN pub ON bib.loc = pub.pcity

# # create table of books costing 15 US$ or more
# sql_command_6b = 'SELECT title FROM bib WHERE price >= 15'


# # # close the connection
# # con.close()