1b Fundamentals of Data Structures and Algorithms

Assignment 7, Databases

In [250]:
import sqlite3

# create a SQL connection to our SQLite database
con = sqlite3.connect("Cookie.sqlite")
cur = con.cursor()

In [251]:
# check table names to validate README list

# cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(cursor.fetchall())

1) What Publisher is located in GARDEN CITY? 
- Answer: DOUBLEDAY AND COMPANY INC.

In [252]:
sql_command_1 = "SELECT publisher FROM pub WHERE pcity = 'GARDEN CITY'"

cur.execute(sql_command_1)
cur.fetchall()

[('DOUBLEDAY AND COMPANY INC.',)]

2) How many books in the catalogue come from publishers in NEW YORK?
- Answer: [(43,)]

In [253]:
sql_command_2 = 'SELECT COUNT(*) FROM bib WHERE loc LIKE "%NEW YORK%"'
cur.execute(sql_command_2)
cur.fetchall()

[(43,)]

3) Find the average price of a book in the SOCIAL CHANGE subject category. 
- Answer: [(8.625,)]

In [254]:
# first, join indx and sub tables on 'subcode' column
# then, combine subsequent table to bib on 'accno' column

sql_command_3 = "SELECT AVG(price) FROM (WITH small_join AS (SELECT * FROM indx JOIN sub ON indx.subcode = sub.subcode) SELECT * FROM small_join JOIN bib ON small_join.accno = bib.accno) WHERE subject = 'SOCIAL CHANGE'" 
cur.execute(sql_command_3)
indx_sub_bib_3 = cur.fetchall()
indx_sub_bib_3

[(8.625,)]

4) How many books from SAN FRANCISCO publishers are about UNIVERSITIES AND COLLEGES? 
- Answer: [(2,)]

In [255]:
# first, join indx and sub tables on 'subcode' column
# then, combine subsequent table to bib on 'accno' column

sql_command_4 = "SELECT COUNT(*) FROM (WITH small_join AS (SELECT * FROM indx JOIN sub ON indx.subcode = sub.subcode) SELECT * FROM small_join JOIN bib ON small_join.accno = bib.accno) WHERE subject = 'UNIVERSITIES AND COLLEGES' AND loc LIKE '%San Francisco%';" 
cur.execute(sql_command_4)
indx_sub_bib_4 = cur.fetchall()
indx_sub_bib_4

[(2,)]

5) Books in which subject category have the highest price? 
- Answer: [('EDUCATION - PHILOSOPHY',), ('COMMUNICATION - ECONOMIC ASPECTS',),('COMMUNICATION POLICY - US',)]

In [256]:
sql_command_5 = "SELECT subject FROM (WITH small_join AS (SELECT * FROM indx JOIN sub ON indx.subcode = sub.subcode) SELECT * FROM small_join JOIN bib ON small_join.accno = bib.accno) WHERE price = (SELECT MAX(price) FROM bib)" 
cur.execute(sql_command_5)
indx_sub_bib_5 = cur.fetchall()
indx_sub_bib_5

[('EDUCATION - PHILOSOPHY',),
 ('COMMUNICATION - ECONOMIC ASPECTS',),
 ('COMMUNICATION POLICY - US',)]